$yellow: rgb(50, 122, 98)65%, 36%);

@mixin margenes ($stop, $bottom){
margin-top:$top;
margin-bottom:$bottom ;
}

.jumbotron{
    background-color:$yellow;
    color:black;
    padding: 10px;
    @include margenes(50px,0 )
}
footer{
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    color:black;
    @include margenes(10px,0 )
 
}
.card-hotel{
    flex:1 200px ;
    
    @include margenes(10px,0 )
.btn-reserva{
    width: 100;
    border-radius: 0px;
}
.footer-addres-icon{
    padding: 10px;
}

.ajustarrow
{
margin-right: 0px;
margin-left: 0px;
} 
