
@yellow: #d65151;

.jumbotron {

    background-color: @yellow;
    color: black;
    margin-top: 50px; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    color: black;
    margin-top: 10px;
    padding: 10px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px; }
  
  .btn-reserva {
    width: 100;
    border-radius: 0px; }
  
  .footer-addres-icon {
    padding: 10px; }
  
  .ajustarrow {
    margin-right: 0px;
    margin-left: 0px; 
}
  